#minute hour    day     month   week    command
30      14      *       *       *       chmod +x /usr/local/bin/backup && sh /usr/local/bin/backup &>/tmp/backup-14-30.log
@reboot                                 chmod +x /usr/local/bin/backup && sh /usr/local/bin/backup &>/tmp/backup-reboot.log